<section>
  <h2 class="text-xl pb-6 font-bold uppercase text-bright-red">
    {{sectionHeader}}
  </h2>

  <section>
    {% for workitem in work %}
      <div class="pb-xxl">
        <div>
          <div class="flex justify-between flex-col sm:flex-row">
            <span class="font-bold text-lg">
              {{workitem.position}}
              <span class="text-gray-500">@</span>
              {% if workitem.website %}
                <a class="text-deep-purple border-gray-400 border-b" target="_blank" href="{{workitem.website}}">
                  {{ workitem.company }}
                </a>
              {% else %}
                <span class="text-gray-600">{{ workitem.company }}</span>
              {% endif %}
            </span>

            <span class="text-gray-600">
              {{ workitem.startDate }}
              —
              {{ workitem.endDate }}
            </span>
          </div>
        </div>

        <div class="pt-3">
          {% if workitem.summary %}
            <div>
              {{ workitem.summary | markdownify }}
            </div>
          {% endif %}

          {% if workitem.highlights %}
            <div class="ml-4">
              <ul class="dashed-ul">
                {% for highlight in workitem.highlights %}
                  <li>
                    {{highlight | markdownify | remove: '<p>' | remove: '</p>'}}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if workitem.keywords %}
            <div class="ml-4 pt-4">
              <h2 class="font-semibold pb-1">
                Technology used:
              </h2>
              <ul class="dashed-ul">
                {% for keyword in workitem.keywords %}
                  <li>{{keyword}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
</section>
