{% assign github = data.profiles | where: "network", "Github" | first %}
{% assign linkedin = data.profiles | where: "network", "LinkedIn" | first %}
{% assign codepen = data.profiles | where: "network", "CodePen" | first %}
{% assign instagram = data.profiles | where: "network", "Instagram" | first %}
{% capture emailLink %}
  mailto:{{data.email}}?subject=sup!
{% endcapture %}


<div class="flex justify-start">
  <a target="_blank" class="mr-6 text-gray-500 hover:text-gray-700 transition-colors duration-100" href="{{emailLink}}">
    <span class="sr-only">
      {{codepen.network}}
    </span>
    {% svg 'assets/envelope.svg', height="26" %}
  </a>

  <a target="_blank" class="mr-6 text-gray-500 hover:text-gray-700 transition-colors duration-100" href="{{linkedin.url}}">
    <span class="sr-only">
      {{linkedin.network}}
    </span>
    {% svg 'assets/linkedin.svg', height="26" %}
  </a>
  <a target="_blank" class="mr-6 text-gray-500 hover:text-gray-700 transition-colors duration-100" href="{{github.url}}" ">
    <span class="sr-only">
      {{github.network}}
    </span>
    {% svg 'assets/github.svg', height="25" %}
  </a>

  <a target="_blank" class="mr-6 text-gray-500 hover:text-gray-700 transition-colors duration-100" href="{{codepen.url}}">
    <span class="sr-only">
      {{codepen.network}}
    </span>
    {% svg 'assets/codepen.svg', height="26" %}
  </a>

  <a target="_blank" class="mr-6 text-gray-500 hover:text-gray-700 transition-colors duration-100" href="{{instagram.url}}">
    <span class="sr-only">
      {{instagram.network}}
    </span>
    {% svg 'assets/instagram.svg', height="24" %}
  </a>
</div>
