<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
{% capture page_title %}
  {{ title | strip_html | strip_newlines }}
{% endcapture %}
<title>
  {% if page_title != "" %}
    {{ metadata.title | escape }}
    /
    {{ page_title | escape }}
  {% else %}
    {{ metadata.title | escape }}:
    {{ metadata.tagline | escape }}
  {% endif %}
</title>

<meta name="description" content="{{ metadata.description }}"/>

<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% webpack_path css %}"/>
<script src="{% webpack_path js %}" defer></script>
