<section class="pb-6">
  <h2 class="text-xl pb-6 font-bold uppercase text-bright-red">
    {{sectionHeader}}
  </h2>

  <section>
    {% for workitem in work %}
      <div class="pb-xxl">
        <div class="pb-3">
          <div class="flex justify-between flex-col sm:flex-row">
            <span class="font-bold text-lg">
              {{workitem.position}}
              <span class="text-gray-500">@</span>
              {% if workitem.website %}
                <a class="text-deep-purple border-gray-400 border-b" target="_blank" href="{{workitem.website}}">
                  {{ workitem.company }}
                </a>
              {% else %}
                <span class="text-gray-600">{{ workitem.company }}</span>
              {% endif %}
            </span>

            <span class="text-gray-600">
              {{ workitem.startDate }}
              —
              {{ workitem.endDate }}
            </span>
          </div>
        </div>

        <div>
          {% if workitem.summary %}
            {{ workitem.summary }}
          {% endif %}

          {% if workitem.highlights %}
            <ul class="dashed-ul pb-4">
              {% for highlight in workitem.highlights %}
                <li>{{highlight}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if workitem.keywords %}
            <h2 class="font-bold pb-1">
              Technology used
            </h2>
            <ul class="dashed-ul">
              {% for keyword in workitem.keywords %}
                <li>{{keyword}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </section>
</section>
